/*
 * (non-doc)
 * --------------------------------------------------------------------------
 * General.css
 * --------------------------------------------------------------------------
 */

body {
  margin: 0;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1e2022;
  text-align: left;
  background-color: #fff !important;
}

nz-content {
  min-height: 90vh !important;
  padding-top: 65px;
  position: relative;
  z-index: 1;
}

nz-footer {
  width: 100%;
}

/*
 * (non-doc)
 * --------------------------------------------------------------------------
 * CommonBetweenComponents.css
 * --------------------------------------------------------------------------
 */
.main {
  position: relative;
  margin-top: 80px;
  margin-bottom: 40px;
}
.backward {
  position: absolute;
  left: 50px;
  top: -5px;
}
.forward {
  position: absolute;
  right: 50px;
  top: -5px;
}

/*
 * (non-doc)
 * --------------------------------------------------------------------------
 * Colors.css
 * --------------------------------------------------------------------------
 */

.c-blue {
  color: #377dff !important;
}
.c-light-blue {
  color: #377dffaa !important;
}
.c-red {
  color: #ff3737 !important;
}
.c-green {
  color: #00c9a7 !important;
}
.c-grey {
  color: #8e9da8 !important;
}
.c-light-grey {
  color: #dadee0 !important;
}
.c-grey-opaque {
  color: #f5f5f5 !important;
}
.c-yellow {
  color: #ffb700 !important;
}
.c-white {
  color: #ffffff !important;
}
.c-black {
  color: #4c5861 !important;
}

/* hover */
.c-hover-blue:hover {
  color: #377dff !important;
}
.c-hover-red:hover {
  color: #ff3737 !important;
}
.c-hover-green:hover {
  color: #00c9a7 !important;
}
.c-hover-grey:hover {
  color: #8e9da8 !important;
}
.c-hover-yellow:hover {
  color: #ffb700 !important;
}
.c-hover-white:hover {
  color: #ffffff !important;
}
.c-hover-black:hover {
  color: #4c5861 !important;
}

/* links color */
.link {
  color: #377dff !important;
}
.link:hover {
  color: #619eff !important;
}

.error {
  color: #f5222d !important;
}

/*
 * (non-doc)
 * --------------------------------------------------------------------------
 * Active.css
 * --------------------------------------------------------------------------
 */

.active-blue {
  color: #377dff !important;
  background-color: #377dff19 !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) !important;
  border-left: 2px solid #377dff !important;
}
.active-green {
  color: #00c9a7 !important;
  background-color: #00c9a719 !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) !important;
  border-left: 2px solid #00c9a7 !important;
}
.active-yellow {
  color: #ffb700 !important;
  background-color: #ffb70019 !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) !important;
  border-left: 2px solid #ffb700 !important;
}

/*
 * (non-doc)
 * --------------------------------------------------------------------------
 * Backgrounds.css
 * --------------------------------------------------------------------------
 */

.bg-blue {
  background-color: #377dff19 !important;
}
.bg-blue-opaque {
  background-color: #ecf3ff !important;
}
.bg-red {
  background-color: #ff373719 !important;
}
.bg-red-opaque {
  background-color: #ff3737 !important;
}
.bg-green {
  background-color: #00c9a719 !important;
}
.bg-grey {
  background-color: #8e9da819 !important;
}
.bg-grey-opaque {
  background-color: #f5f5f5 !important;
  background-color: #dadee3cc !important;
}
.bg-light-grey {
  background-color: #dadee019 !important;
}
.bg-yellow {
  background-color: #ffb70019 !important;
}
.bg-white {
  background-color: #ffffff !important;
}
.bg-black {
  background-color: #4c586119 !important;
}

/* hover */
.bg-hover-blue:hover {
  background-color: #377dff19 !important;
}
.bg-hover-darker-blue:hover {
  background-color: #225ece19 !important;
}
.bg-hover-red:hover {
  background-color: #ff373719 !important;
}
.bg-hover-green:hover {
  background-color: #00c9a719 !important;
}
.bg-hover-grey:hover {
  background-color: #8e9da819 !important;
}
.bg-hover-yellow:hover {
  background-color: #ffb70019 !important;
}
.bg-hover-white:hover {
  background-color: #ffffff !important;
}
.bg-hover-black:hover {
  background-color: #4c586119 !important;
}

/*
 * (non-doc)
 * --------------------------------------------------------------------------
 * Borders.css
 * --------------------------------------------------------------------------
 */

/* Normal */
.border-blue {
  border: 2px solid #377dff !important;
}
.border-red {
  border: 2px solid #ff3737 !important;
}
.border-green {
  border: 2px solid #00c9a7 !important;
}
.border-grey {
  border: 2px solid #8e9da8 !important;
}
.border-yellow {
  border: 2px solid #ffb700 !important;
}
.border-white {
  border: 2px solid #ffffff !important;
}
.border-black {
  border: 2px solid #4c5861 !important;
}

/* skin */
.border-skin-blue {
  border: 1px solid #377dff !important;
}
.border-skin-red {
  border: 1px solid #ff3737 !important;
}
.border-skin-green {
  border: 1px solid #00c9a7 !important;
}
.border-skin-grey {
  border: 1px solid #8e9da8 !important;
}
.border-skin-yellow {
  border: 1px solid #ffb700 !important;
}
.border-skin-white {
  border: 1px solid #ffffff !important;
}
.border-skin-black {
  border: 1px solid #4c5861 !important;
}

/* hover */
.border-hover-blue:hover {
  border: 2px solid #377dffbb !important;
}
.border-hover-red:hover {
  border: 2px solid #ff3737bb !important;
}
.border-hover-green:hover {
  border: 2px solid #00c9a7bb !important;
}
.border-hover-grey:hover {
  border: 2px solid #8e9da8bb !important;
}
.border-hover-yellow:hover {
  border: 2px solid #ffb700bb !important;
}
.border-hover-white:hover {
  border: 2px solid #ffffff !important;
}
.border-hover-black:hover {
  border: 2px solid #4c5861bb !important;
}

/* border-left */
.border-left-blue {
  border-left: 2px solid #377dff !important;
}
.border-left-red {
  border-left: 2px solid #ff3737 !important;
}
.border-left-green {
  border-left: 2px solid #00c9a7 !important;
}
.border-left-grey {
  border-left: 2px solid #8e9da8 !important;
}
.border-left-yellow {
  border-left: 2px solid #ffb700 !important;
}
.border-left-white {
  border-left: 2px solid #ffffff !important;
}
.border-left-black {
  border-left: 2px solid #4c5861 !important;
}

/* border-right */
.border-right-blue {
  border-right: 2px solid #377dff !important;
}
.border-right-red {
  border-right: 2px solid #ff3737 !important;
}
.border-right-green {
  border-right: 2px solid #00c9a7 !important;
}
.border-right-grey {
  border-right: 2px solid #8e9da8 !important;
}
.border-right-yellow {
  border-right: 2px solid #ffb700 !important;
}
.border-right-white {
  border-right: 2px solid #ffffff !important;
}
.border-right-black {
  border-right: 2px solid #4c5861 !important;
}

/*
 * (non-doc)
 * --------------------------------------------------------------------------
 * Border-radius.css
 * --------------------------------------------------------------------------
 */

.border-radius-smaller {
  border-radius: 5px;
}
.border-radius-small {
  border-radius: 10px;
}
.border-radius {
  border-radius: 15px;
}
.border-radius-large {
  border-radius: 30px;
}
.border-radius-circle {
  border-radius: 50%;
}

/*
 * (non-doc)
 * --------------------------------------------------------------------------
 * Box-shadow.css
 * --------------------------------------------------------------------------
 */

.box-sh-blue {
  box-shadow: 0 1px 3px #377dff !important;
}
.box-sh-red {
  box-shadow: 0 1px 3px #ff3737 !important;
}
.box-sh-green {
  box-shadow: 0 1px 3px #00c9a7 !important;
}
.box-sh-grey {
  box-shadow: 0 1px 3px #8e9da8 !important;
}
.box-sh-yellow {
  box-shadow: 0 1px 3px #ffb700 !important;
}
.box-sh-white {
  box-shadow: 0 1px 3px #ffffff !important;
}
.box-sh-black {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) !important;
}
.box-sh-black-large {
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.15) !important;
}

/* hover */
.box-sh-hover-blue:hover {
  box-shadow: 0 2px 6px #377dff !important;
}
.box-sh-hover-red:hover {
  box-shadow: 0 2px 6px #ff3737 !important;
}
.box-sh-hover-green:hover {
  box-shadow: 0 2px 6px #00c9a7 !important;
}
.box-sh-hover-grey:hover {
  box-shadow: 0 2px 6px #8e9da891 !important;
}
.box-sh-hover-yellow:hover {
  box-shadow: 0 2px 6px #ffb700 !important;
}
.box-sh-hover-white:hover {
  box-shadow: 0 2px 6px #ffffff !important;
}
.box-sh-hover-black:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) !important;
}
.box-sh-hover-black-large:hover {
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.15) !important;
}

/*
 * (non-doc)
 * --------------------------------------------------------------------------
 * Transition.css
 * --------------------------------------------------------------------------
 */

.transition-fast {
  transition: 150ms;
}
.transition {
  transition: 250ms;
}
.transition-slow {
  transition: 1550ms;
}

/*
 * (non-doc)
 * --------------------------------------------------------------------------
 * Cursor.css
 * --------------------------------------------------------------------------
 */

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-default {
  cursor: default !important;
}

/*
 * (non-doc)
 * --------------------------------------------------------------------------
 * Other.css
 * --------------------------------------------------------------------------
 */

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.width-all {
  width: 100% !important;
}
